---
import AnchorButton from "@components/AnchorButton.astro";
import Tag from "@components/Tag.astro";
---

<section class="p-2 grid grid-cols-1 justify-items-center">
  <Tag text="¿Tienes una duda?" />
  <h4 class="mt-2 text-3xl font-bold text-center">Preguntas frecuentes</h4>
  <p class="mt-8 text-gray-500 text-lg text-center mb-4">
    ¿Tu duda no aparece aquí?
  </p>
  <AnchorButton
    text="Envíanos tu pregunta"
    hrefSrc="mailto:hola@budgetmaster.space"
  />

  <div class="mt-10 grid grid-cols-1 justify-items-center mb-40">
    <details open>
      <summary class="text-xl font-semibold text-main-analogous"
        >¿Cómo funciona la versión gratuita?</summary
      >
      <p class="my-4 pl-4 text-lg text-gray-700 text-pretty">
        Puedes usar la versión gratuita en un solo dispositivo. La conexión a
        internet no es necesaria para la versión gratuita. Tienes acceso a todas
        las funcionalidades de crear cuentas, crear registros y ver tus
        estadísticas.
      </p>
      <p class="text-lg pl-4 text-gray-700 text-pretty">
        Tus datos se guardan de manera local en tu navegador. Si limpias los
        datos de tu navegador, asimismo tus datos de la aplicación se eliminarán
      </p>
    </details>
  </div>
</section>
