---
import {
  BUDGET_MASTER_LOGIN_ROUTE,
  BUDGET_MASTER_REGISTER_ROUTE,
} from "@constants";
import Logo from "@components/Logo.astro";
---

<header class="w-full flex justify-between">
  <Logo />
  <div class="flex gap-4">
    <a href={BUDGET_MASTER_LOGIN_ROUTE}>Iniciar sesión</a>
    <a href={BUDGET_MASTER_REGISTER_ROUTE}>Regístrate</a>
  </div>
</header>
