---
import HowWeHelpCard from "@components/HowWeHelpCard.astro";
import Tag from "@components/Tag.astro";
---

<section class="mt-20 p-2 grid grid-cols-1 justify-items-center">
  <Tag text="¿A quién ayudamos?" />
  <h3 class="my-2 text-2xl font-bold text-center">
    Ayudamos a quienes buscan organizar sus finanzas y evitar sorpresas con sus
    tarjetas de crédito.
  </h3>
  <p class="mt-2 text-gray-500 text-lg text-center">
    Simplifica tu vida financiera y deja que nosotros hagamos los números por ti
  </p>

  <div class="mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <HowWeHelpCard
      imgSrc="/img/how-we-help/falta-organizacion-financiera.webp"
      title="Falta de organización financiera"
      description="No tienes una visión clara de tus ingresos, gastos y deudas. Lo que te lleva a gastar más dinero del pensado."
      hasMinthHeightTitle
    />
    <HowWeHelpCard
      imgSrc="/img/how-we-help/dificultad-controlar-gastos.webp"
      title="Dificultad para controlar gastos"
      description="Gastas más de lo planeado y no sabes en qué se va tu dinero."
      hasMinthHeightTitle
    />
    <HowWeHelpCard
      imgSrc="/img/how-we-help/dificultad-cubrir-gastos.webp"
      title="Dificultad para cubrir gastos imprevistos"
      description="Cuando tienes imprevistos o emergencias financieras, no tienes claro de un plan de cómo solucionar el problema. Por consecuente, te lleva al endeudamiento."
    />
    <HowWeHelpCard
      imgSrc="/img/how-we-help/mal-manejo-credito.webp"
      title="Manejo ineficiente de tarjetas de crédito"
      description="Olvidas fechas de pago, incurres en pago de intereses y no tienes control de las transacciones realizadas y pagadas de tus tarjetas."
    />
    <HowWeHelpCard
      imgSrc="/img/how-we-help/falta-transparencia-deudas-compartidas.webp"
      title="Falta de transparencia en deudas compartidas"
      description="En compras grupales, se te complica llevar registro de quién debe qué y no sabes quien ya te ha pagado."
    />
    <HowWeHelpCard
      imgSrc="/img/how-we-help/estres-falta-educacion-financiera.webp"
      title="Estrés por falta de educación financiera: "
      description="No sabes bien cómo administrar tu dinero, llevando a cometer errores como gastos innecesarios o endeudamiento excesivo."
    />
  </div>
</section>

<script>
  import { observeElement } from "@helpers/observeElement";

  const $cards = document.querySelectorAll(".how-we-help-card");
  if ($cards) {
    observeElement({ elements: $cards, cssClasses: ["fade-in-up"] });
  }
</script>
