---
import { Image } from "astro:assets";
---

<section>
  <span>¿A quién ayudamos?</span>
  <h3>Ayudamos a las personas a tomar control de sus finanzas personales y de sus tarjetas de crédito.</h3>
  <p>Con Budget Master sabrás en donde gastas, y que has pagado</p>

  <article>
    <Image src="/img/main-banner-mobile.webp" alt="Persona gastando dinero" width="200" height="200" />
    <h4>Rastear gastos</h4>
    <p>Mantén un registro detallado de tus gastos diarios, semanales y mensuales junto con estadísticas</p>
  </article>
</section>
