---
import AnchorButton from "@components/AnchorButton.astro";
import Header from "./Header.astro";
import { BUDGET_MASTER_DASHBOARD_ROUTE } from "@constants";
---

<div class="bg">
  <section class="flex flex-col max-w-7xl mx-auto h-[800px]">
    <Header />
    <article class="h-full flex flex-col items-center justify-center gap-6">
      <h1 class="text-3xl font-bold mb-5 text-center text-p-white">
        ¿Te sientes abrumado por las deudas y los gastos? ¡Toma control de tus
        finanzas ahora con Budget Master!
      </h1>
      <AnchorButton
        text="Probar ahora"
        hrefSrc={BUDGET_MASTER_DASHBOARD_ROUTE}
      />
    </article>
  </section>
</div>

<style>
  .bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      image-set(url("/img/main-banner-tablet.webp"));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  @media (min-width: 768px) {
    .bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        image-set(url("/img/main-banner-tablet.webp"));
    }
  }
  @media (min-width: 1024px) {
    .bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        image-set(url("/img/main-banner-desktop.webp"));
    }
  }
  @media (min-width: 1536px) {
    .bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        image-set(url("/img/main-banner-extra-large.webp"));
      background-position: center;
    }
  }
  @media (min-width: 2500px) {
    .bg {
      background-position: 50% 80%;
    }
  }
</style>
