---
import SolutionCard from "@components/SolutionCard.astro";
import Tag from "@components/Tag.astro";
import { Image } from "astro:assets";
---

<section class="mt-20 p-2 grid grid-cols-1 justify-items-center">
  <Tag text="¿Qué hacemos?" />
  <h4 class="my-2 text-3xl font-bold text-center">
    Un buen control financiero te deja enfocarte en lo que realmente importa
  </h4>
  <p class="mt-2 text-gray-500 text-lg text-center">
    Budget Master es una aplicación web que te ayuda a administrar tus finanzas
    personales de manera fácil y efectiva.
  </p>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 justify-items-center">
    <SolutionCard
      title="Rastrear tus gastos"
      description="Mantén un registro detallado de tus gastos diarios, semanales y mensuales junto con estadísticas."
      imgSrc="/img/solution/statistics-showcase.webp"
      imgAlt="Statistics feature"
      size="250"
    />
    <SolutionCard
      title="Presupuesta tu dinero"
      description="Crea presupuestos personalizados para diferentes categorías de gastos."
      imgSrc="/img/solution/budgets-showcase.webp"
      imgAlt="Budgets feature"
      size="450"
    />

    <article
      class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-items-center items-center"
    >
      <Image
        src="/img/solution/share-shopping-showcase.webp"
        alt="Persona gastando dinero"
        width="450"
        class="md:row-span-2 lg:justify-self-end"
        height="450"
      />
      <h5 class="text-2xl text-primary-dark font-semibold md:self-end">
        Comparte tus finanzas con tus familiares y amigos
      </h5>
      <p class="text-gray-600 text-lg self-start">
        Colabora con tus familiares y amigos cuando realicen compras en
        conjunto.
      </p>
    </article>
  </div>
</section>
