---
import Tag from "@components/Tag.astro";
---

<section class="mt-20 p-2 grid grid-cols-1 justify-items-center">
  <Tag text="¿Qué hacemos?" />
  <h4 class="my-2 text-2xl font-bold text-center">
    Un buen control financiero te deja enfocarte en lo que realmente importa
  </h4>
  <p class="mt-2 text-gray-500 text-lg text-center">
    Budget Master es una aplicación web que te ayuda a administrar tus finanzas personales de manera fácil y efectiva.
  </p>
</section>