---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Alias de la Tarjeta: ¿Qué Es y Para Qué Sirve?"
  metaDescription="Descubre qué es el alias de la tarjeta, para qué sirve y cómo configurarlo fácilmente. Conoce su significado con ejemplos. ¡Aprende más aquí!"
  metaOgDescription="Descubre qué es el alias de la tarjeta, para qué sirve y cómo configurarlo fácilmente. Conoce su significado con ejemplos. ¡Aprende más aquí!"
>
  <section class="flex flex-col items-center max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold mb-5 text-center text-p-black">
      Alias de la Tarjeta: Qué Es, Para Qué Sirve y Cómo Usarlo
    </h1>
  </section>
</Layout>
