---
import { BLOG_ALIAS_COMPLETE_ROUTE } from "@constants";
import Layout from "@layouts/Layout.astro";

const metaKeywords =
  "cual es el alias de una tarjeta, alias de la tarjeta, que alias de la tarjeta, que es alias de la tarjeta, que es alias de la tarjeta bancoppel, que significa alias de la tarjeta, que significa alias de la tarjeta en cfe, que significa alias de la tarjeta ejemplo, que quiere decir alias de la tarjeta";
---

<Layout
  title="Alias de la Tarjeta: ¿Qué Es y Para Qué Sirve?"
  metaDescription="Descubre qué es el alias de la tarjeta, para qué sirve y cómo configurarlo fácilmente. Conoce su significado con ejemplos. ¡Aprende más aquí!"
  metaKeywords={metaKeywords}
  ogTitle="Alias de la Tarjeta: ¿Qué Es y Para Qué Sirve? | Blogs de Budget Master"
  ogURL={BLOG_ALIAS_COMPLETE_ROUTE}
  ogDescription="Descubre qué es el alias de la tarjeta, para qué sirve y cómo configurarlo fácilmente. Conoce su significado con ejemplos. ¡Aprende más aquí!"
>
  <section class="flex flex-col items-center max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold mb-5 text-center text-p-black">
      Alias de la Tarjeta: Qué Es, Para Qué Sirve y Cómo Usarlo
    </h1>
  </section>
</Layout>
