---
import Layout from "@layouts/Layout.astro";
import Header from "@templates/Header.astro";
---

<Layout title="Budget Master">
  <section class="flex flex-col items-center max-w-7xl mx-auto h-[800px]">
    <Header isBlog />
    <h1 class="text-3xl font-bold mb-5 text-center text-p-black">
      Blogs de Budget Master
    </h1>
    <p class="text-lg text-pretty max-w-[75ch] mb-7">
      Aquí encontrarás contenido práctico, claro y atractivo para mejorar tus
      finanzas y entenderlas como un experto. Desde consejos para optimizar tu
      presupuesto hasta estrategias para alcanzar tus metas financieras, cada
      artículo está diseñado para ayudarte a tomar el control de tu dinero sin
      complicaciones.
    </p>
    <p class="text-lg text-pretty max-w-[75ch]">
      Explora, aprende y transforma tu manera de administrar tus finanzas con
      nosotros. ¡Tu camino hacia la libertad financiera comienza aquí!
    </p>
  </section>
</Layout>
