---
import AnchorButton from "@components/AnchorButton.astro";
import Button from "@components/Button.astro";
import Logo from "@components/Logo.astro";
import Layout from "@layouts/Layout.astro";
import Header from "@templates/Header.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Budget Master">
  <main
    class="max-w-7xl mx-auto flex flex-col justify-center items-center mt-12"
  >
    <Header />
    <p>mas texto</p>
    <AnchorButton text="Empieza ahora" hrefSrc="#" />
  </main>
</Layout>
