---
import AnchorButton from "@components/AnchorButton.astro";
import Layout from "@layouts/Layout.astro";
import Header from "@templates/Header.astro";
---

<Layout title="Budget Master">
  <div class="bg">
    <main class="flex flex-col max-w-7xl mx-auto h-[800px]">
      <Header />
      <div class="h-full flex flex-col items-center justify-center gap-6">
        <h2 class="text-xl mb-5 text-center text-p-white">
          ¿Estás cansado de perder el control de tu dinero? ¿Te sientes abrumado
          por las deudas y los gastos? ¡Budget Master es la solución que
          necesitas!
        </h2>
        <AnchorButton text="Empieza ahora" hrefSrc="#" />
      </div>
    </main>
  </div>
  <div class="h-[800px]">
    <h1>mas texto</h1>
  </div>
</Layout>

<style>
  .bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      image-set(url("/img/main-banner-tablet.webp"));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  @media (mind-width: 768px) {
    .bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        image-set(url("./img/main-banner-tablet.webp", type="image/webp"));
    }
  }
  @media (mind-width: 1024px) {
    .bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        image-set(url("./img/main-banner-desktop.webp", type="image/webp"));
    }
  }
</style>
