---
export interface Props {
  text: string;
  hrefSrc: string;
  variant?: "primary" | "secondary";
  className?: string;
}

const { text, hrefSrc, variant = "primary", className = "" } = Astro.props;
---

<a
  class:list={[
    "uppercase px-4 py-2 rounded font-semibold",
    {
      "bg-primary text-p-white hover:bg-primary-dark transition-colors duration-300":
        variant === "primary",
      "bg-p-white text-primary border-solid border border-primary hover:bg-main-analogous hover:text-p-white transition-colors duration-300":
        variant === "secondary",
    },
    className,
  ]}
  href={hrefSrc}
>
  {text}
</a>
