---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  description: string;
  imgSrc: string;
}

const { title, description, imgSrc } = Astro.props;
---

<article class="mt-8 flex flex-col items-center gap-4">
  <Image src={imgSrc} alt="Persona gastando dinero" width="300" height="300" />
  <h4 class="text-xl font-semibold">{title}</h4>
  <p class="text-gray-600 text-lg">{description}</p>
</article>