---
import { Image } from "astro:assets";
---

<div class="w-full flex items-center gap-4">
  <Image
    class="rounded-full"
    src="/img/logo.webp"
    alt="Logo budget master"
    width={70}
    height={70}
  />
  <h1 class="logo text-2xl text-p-black">Budget Master</h1>
</div>
