---
export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div>
  <span
    class="uppercase font-light text-sm text-p-white bg-complementary rounded-full p-2"
    >{text}</span
  >
</div>