---
export interface Props {
  title: string;
  description: string;
  marginBottom?: boolean;
}

const { title, description, marginBottom = false } = Astro.props;
---

<article
  class:list={[
    "grid grid-cols-1 gap-4 justify-items-center max-w-[300px]",
    { "mb-12": marginBottom },
  ]}
>
  <span class="text-p-white">
    <slot />
  </span>
  <h4 class="text-2xl text-center lg:text-start text-p-white font-semibold">
    {title}
  </h4>
  <p class="text-gray-200 text-lg">
    {description}
  </p>
</article>
