---
export interface Props {
  href: string;
  text: string;
  class?: string;
  isCurrentPath?: boolean;
}

const { href, text, isCurrentPath = false, class: cssClass } = Astro.props;

const anchorClasses = [
  "text-lg text-pretty hover:underline",
  cssClass,
  { "text-gray-500": !isCurrentPath },
];
---

<a class:list={anchorClasses} href={href}>{text}</a>
